{% extends 'base.html' %}

{% block title %}Club Olimpo | Sitio Oficial{% endblock %}

{% block content %}

{% include 'core/components/_hero_banner.html' %}

<div class="container">

    <div class="row g-5">
        {% include 'core/components/_next_fixture_section.html' %}
        {% include 'core/components/_latest_news_section.html' %}
    </div>
    <hr class="my-5">
    {% include 'core/components/_sponsors_section.html' %}
    <hr class="my-5">
    {% include 'core/components/_gallery_preview_section.html' %}
    <hr class="my-5">
    {% include 'core/components/_cards_extras_section.html' %}
    <hr class="my-5">
    {% include 'core/components/_testimonials_section.html' %}
    <hr class="my-5">
    {% include 'core/components/_sponsors_section.html' %}
</div>

{% endblock %}