{% extends 'base.html' %}

{% block title %}Código de Conducta{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="text-center mb-5">
        <h1>Código de Conducta</h1>
        <p class="lead text-muted">Fomentando un ambiente de respeto y compañerismo.</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h3>Para Jugadores</h3>
            <p>Se espera que todos los jugadores respeten a sus compañeros, entrenadores, rivales y árbitros en todo momento...</p>
            
            <h3 class="mt-4">Para Padres y Familiares</h3>
            <p>El apoyo desde la tribuna debe ser siempre positivo. Se prohíbe cualquier tipo de insulto o presión hacia los niños, el cuerpo técnico o los árbitros...</p>

            </div>
    </div>
</div>
{% endblock %}