<div class="row text-center">
        <div class="col-md-6">
            <div class="p-4 rounded-3 bg-light">
                <h3>Conocé a Nuestros Planteles</h3>
                <p>Descubrí a los jugadores y al cuerpo técnico que nos representan.</p>
                <a href="{% url 'player_list' %}" class="btn btn-primary">Ver Planteles</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-4 rounded-3 bg-light">
                <h3>¿Querés ser parte del Club?</h3>
                <p>Informate sobre cómo asociarte y sumarte a nuestra familia.</p>
                <a href="#" class="btn btn-secondary disabled">Hacete Socio</a>
            </div>
        </div>
    </div>