<div class="hero-banner mb-4">
    <div class="hero-content text-center text-white">
        <h1 class="display-5 fw-bold">Bienvenidos al Sitio Oficial del Club Olimpo</h1>
        <p class="fs-4">La pasión que nos une en Río Grande.</p>
        <p class="mt-4">
            <a href="{% url 'player_list' %}" class="btn btn-primary btn-lg me-2">Conocé Nuestros Jugadores</a>
            <a href="{% url 'fixture_list' %}" class="btn btn-outline-light btn-lg">Mirá Nuestros Partidos</a>
        </p>
    </div>
</div>